<div class="grid wide">
    <div class="row">
        <div class="col l-2-4 m-6 c-12">
            <h3 class="footer__heading">Chăm sóc khách hàng</h3>
            <ul class="footer-list">
                <li class="footer-item">
                    <a href="" class="footer-item__link">Trung Tâm Trợ Giúp</a>
                </li>
            
                <li class="footer-item">
                    <a href="" class="footer-item__link">Shopee Blog</a>
                </li>
            
                <li class="footer-item">
                    <a href="" class="footer-item__link">Shopee Mall</a>
                </li>
            
                <li class="footer-item">
                    <a href="" class="footer-item__link">Hướng Dẫn Mua Hàng</a>
                </li>
            
                <li class="footer-item">
                    <a href="" class="footer-item__link">Hướng Dẫn Bán Hàng</a>
                </li>
            
                <li class="footer-item">
                    <a href="" class="footer-item__link">Thanh Toán</a>
                </li>
            
                <li class="footer-item">
                    <a href="" class="footer-item__link">Shopee Xu</a>
                </li>
            
                <li class="footer-item">
                    <a href="" class="footer-item__link">Vận Chuyển</a>
                </li>
            
                <li class="footer-item">
                    <a href="" class="footer-item__link">Trả Hàng & Hoàn Tiền</a>
                </li>
            
                <li class="footer-item">
                    <a href="" class="footer-item__link">Chăm Sóc Khách Hàng</a>
                </li>
            
                <li class="footer-item">
                    <a href="" class="footer-item__link">Chính Sách Bảo Hành</a>
                </li>
            </ul>
        </div>
        <div class="col l-2-4 m-6 c-12">
            <h3 class="footer__heading">Về shopee</h3>
            <ul class="footer-list">
                <li class="footer-item">
                    <a href="" class="footer-item__link">Giới Thiệu Về Shopee Việt Nam</a>
                </li>
            
                <li class="footer-item">
                    <a href="" class="footer-item__link">Tuyển Dụng</a>
                </li>
            
                <li class="footer-item">
                    <a href="" class="footer-item__link">Điều Khoản Shopee</a>
                </li>
            
                <li class="footer-item">
                    <a href="" class="footer-item__link">Chính Sách Bảo Mật</a>
                </li>
            
                <li class="footer-item">
                    <a href="" class="footer-item__link">Chính Hãng</a>
                </li>
            
                <li class="footer-item">
                    <a href="" class="footer-item__link">Kênh Người Bán</a>
                </li>
            
                <li class="footer-item">
                    <a href="" class="footer-item__link">Flash Sales</a>
                </li>
            
                <li class="footer-item">
                    <a href="" class="footer-item__link">Chương Trình Tiếp Thị Liên Kết Shopee</a>
                </li>
            
                <li class="footer-item">
                    <a href="" class="footer-item__link">Liên Hệ Với Truyền Thông</a>
                </li>
            </ul>
        </div>
        <div class="col l-2-4 m-6 c-12">
            <h3 class="footer__heading">Thanh toán</h3>
            <ul class="footer-pay-list">
                <li class="footer-pay-item">
                    <div class="footer-pay-img footer-pay-img-visa"></div>
                </li>
                <li class="footer-pay-item">
                    <div class="footer-pay-img footer-pay-img-mastercard"></div>
                </li>
                <li class="footer-pay-item">
                    <div class="footer-pay-img footer-pay-img-jcb"></div>
                </li>
                <li class="footer-pay-item">
                    <div class="footer-pay-img footer-pay-img-amex"></div>
                </li>
                <li class="footer-pay-item">
                    <div class="footer-pay-img footer-pay-img-cod"></div>
                </li>
                <li class="footer-pay-item">
                    <div class="footer-pay-img footer-pay-img-installment"></div>
                </li>
                <li class="footer-pay-item">
                    <div class="footer-pay-img footer-pay-img-sppay"></div>
                </li>
            </ul>
            <h3 class="footer__heading hide-on-tablet" style="margin-top: 25px;">Đơn vị vận chuyển</h3>
            <ul class="footer-delivery-list">
                <li class="footer-delivery-item">
                    <div class="footer-delivery-img footer-delivery-img-spxpress"></div>
                </li>
                <li class="footer-delivery-item">
                    <div class="footer-delivery-img footer-delivery-img-ghtk"></div>
                </li>
                <li class="footer-delivery-item">
                    <div class="footer-delivery-img footer-delivery-img-ghn"></div>
                </li>
                <li class="footer-delivery-item">
                    <div class="footer-delivery-img footer-delivery-img-vtpost"></div>
                </li>
                <li class="footer-delivery-item">
                    <div class="footer-delivery-img footer-delivery-img-vnpost"></div>
                </li>
                <li class="footer-delivery-item">
                    <div class="footer-delivery-img footer-delivery-img-jt"></div>
                </li>
                <li class="footer-delivery-item">
                    <div class="footer-delivery-img footer-delivery-img-grab"></div>
                </li>
                <li class="footer-delivery-item">
                    <div class="footer-delivery-img footer-delivery-img-ninja"></div>
                </li>
                <li class="footer-delivery-item">
                    <div class="footer-delivery-img footer-delivery-img-best"></div>
                </li>
            </ul>
        </div>
        <div class="col l-2-4 m-6 c-12 hide-on-tablet-pro">
            <h3 class="footer__heading">Đơn vị vận chuyển</h3>
            <ul class="footer-delivery-list">
                <li class="footer-delivery-item">
                    <div class="footer-delivery-img footer-delivery-img-spxpress"></div>
                </li>
                <li class="footer-delivery-item">
                    <div class="footer-delivery-img footer-delivery-img-ghtk"></div>
                </li>
                <li class="footer-delivery-item">
                    <div class="footer-delivery-img footer-delivery-img-ghn"></div>
                </li>
                <li class="footer-delivery-item">
                    <div class="footer-delivery-img footer-delivery-img-vtpost"></div>
                </li>
                <li class="footer-delivery-item">
                    <div class="footer-delivery-img footer-delivery-img-vnpost"></div>
                </li>
                <li class="footer-delivery-item">
                    <div class="footer-delivery-img footer-delivery-img-jt"></div>
                </li>
                <li class="footer-delivery-item">
                    <div class="footer-delivery-img footer-delivery-img-grab"></div>
                </li>
                <li class="footer-delivery-item">
                    <div class="footer-delivery-img footer-delivery-img-ninja"></div>
                </li>
                <li class="footer-delivery-item">
                    <div class="footer-delivery-img footer-delivery-img-best"></div>
                </li>
            </ul>
        </div>
        <div class="col l-2-4 m-6 c-12">
            <h3 class="footer__heading">Theo dõi chúng tôi trên</h3>
            <ul class="footer-list">
                <li class="footer-item">
                    <a href="" class="footer-item__link">
                        <i class="footer-item__icon fab fa-facebook"></i>
                        Facebook
                    </a>
                </li>
                <li class="footer-item">
                    <a href="" class="footer-item__link">
                        <i class="footer-item__icon fab fa-instagram-square"></i>
                        Instagram
                    </a>
                </li>
                <li class="footer-item">
                    <a href="" class="footer-item__link">
                        <i class="footer-item__icon fab fa-linkedin"></i>
                        LinkedIn
                    </a>
                </li>
            </ul>
        </div>
        <div class="col l-2-4 m-6 c-12">
            <h3 class="footer__heading">Tải ứng dụng shopee ngay thôi</h3>
            <div class="footer-download">
                <img src="/img/app/QRcode.png" alt="" class="footer-download-qr">
                <div class="footer-download-apps">
                    <img src="/img/app/app_store.png" alt="" class="footer-download-app-store">
                    <img src="/img/app/gg_play.png" alt="" class="footer-download-app-gg">
                    <img src="/img/app/app_gall.png" alt="" class="footer-download-app-gallery">
                </div>
            </div>
        </div>
    </div>

    <div class="row footer-nation-list">
        <div class="footer-copyright">© 2021 Shopee. Tất cả các quyền được bảo lưu.</div>
        <div class="footer-nation">
            <span class="nation-heading">Quốc gia & Khu vực:</span>
            <span class="nation-heading-name">Singapore</span>
            <span class="nation-heading-name">Indonesia</span>
            <span class="nation-heading-name">Đài Loan</span>
            <span class="nation-heading-name">Thái Lan</span>
            <span class="nation-heading-name">Malaysia</span>
            <span class="nation-heading-name">Việt Nam</span>
            <span class="nation-heading-name">Philippines</span>
            <span class="nation-heading-name">Brazil</span>
            <span class="nation-heading-name">México</span>
            <span class="nation-heading-name">Colombia</span>
            <span class="nation-heading-name">Chile</span>          
        </div>
    </div>
</div>