<div class="main-overlay">
    <div class="loading">
        <div style="--delay: 1s"></div>
        <div style="--delay: 2s"></div>
        <div style="--delay: 3s"></div>
        <div style="--delay: 4s"></div>
    </div>
</div>