<!--  brand introduction -->
<div class="row grid__row-brand" style="margin-left: 0; margin-right: 0;">
    <a href="" class="brand-link">
        <div class="brand-img">
            <img src="./img/infor/tv.png" alt="" class="brand-icon">
        </div>
        <div class="brand-title">Tech Zone - Siêu thị điện tử</div>
    </a>
    <a href="" class="brand-link">
        <div class="brand-img">
            <img src="./img/infor/re.png" alt="" class="brand-icon">
        </div>
        <div class="brand-title">Gì cũng rẻ - Từ 1k</div>
    </a>
    <a href="" class="brand-link">
        <div class="brand-img">
            <img src="./img/infor/hoanxu.png" alt="" class="brand-icon">
        </div>
        <div class="brand-title">Hoàn xu 20% - Đơn từ 0Đ</div>
    </a>
    <a href="" class="brand-link">
        <div class="brand-img">
            <img src="./img/infor/dienthoai.gif" alt="" class="brand-icon">
        </div>
        <div class="brand-title">Nạp thẻ, hóa đơn & E-voucher</div>
    </a>
    <a href="" class="brand-link">
        <div class="brand-img">
            <img src="./img/infor/30trieu.gif" alt="" class="brand-icon">
        </div>
        <div class="brand-title">Shopee số gì đây</div>
    </a>
    <a href="" class="brand-link">
        <div class="brand-img">
            <img src="./img/infor/dacbiet.png" alt="" class="brand-icon">
        </div>
        <div class="brand-title">Freeship xtra 70K mỗi ngày</div>
    </a>
    <a href="" class="brand-link">
        <div class="brand-img">
            <img src="./img/infor/hhieu.png" alt="" class="brand-icon">
        </div>
        <div class="brand-title">Hàng hiệu -50%</div>
    </a>
    <a href="" class="brand-link">
        <div class="brand-img">
            <img src="./img/infor/hangtoancau.png" alt="" class="brand-icon">
        </div>
        <div class="brand-title">Hàng quốc tế</div>
    </a>
    <a href="" class="brand-link">
        <div class="brand-img">
            <img src="./img/infor/kimcuong.png" alt="" class="brand-icon">
        </div>
        <div class="brand-title">Shopee Premium</div>
    </a>
    <a href="" class="brand-link">
        <div class="brand-img">
            <img src="./img/infor/ngoinha.png" alt="" class="brand-icon">
        </div>
        <div class="brand-title">Yên tâm mua hàng</div>
    </a>
</div>

<!-- Advertise -->
<div class="grid__row-advertise">
    <img src="./img/dondautien.jpg" alt="logoquangcao" class="advertise-img">
</div>

<!-- Brand stuff -->

<div class="grid__row-heading-brandstuff">
    <div class="logo-brandstuff">
        <img src="./img/sell/logo_hanghieu.jpg" alt="logohanghieu" class="logo-brandstuff-img1">
    </div>
    <div class="grid__row-body-brandstuff">
        <div class="brandstuff-list-sell c-6">
            <div class="brandstuff-sell-heading">
                <span class="sell-title">SẢN PHẨM BÁN CHẠY</span>
                <a class="sell-next">
                    Xem thêm
                    <i class="sell-icon fas fa-chevron-right"></i>
                </a>
            </div>
            <div class="brandstuff-sell-item">
                <a class="list-sell sell-discount c-4">
                    <div class="logo-item-sell">
                        <img src="./img/sell/bc1.jpg" alt="" class="item-img-sell">
                    </div>

                    <div class="cost-item-sell">đ139.000</div>

                    <div class="product-item__sell-discount">
                        <span class="product-item__sell-discount-percent">10%</span>
                        <span class="product-item__sell-discount-label">GIẢM</span>
                    </div>
                </a>
                <a class="list-sell c-4">
                    <div class="logo-item-sell">
                        <img src="./img/sell/bc2.png" alt="" class="item-img-sell">
                    </div>
                    <div class="cost-item-sell">đ150.000</div>
                    <div class="product-item__sell-discount">
                        <span class="product-item__sell-discount-percent">10%</span>
                        <span class="product-item__sell-discount-label">GIẢM</span>
                    </div>
                </a>
                <a class="list-sell c-4">
                    <div class="logo-item-sell">
                        <img src="./img/sell/bc3.png" alt="" class="item-img-sell">
                    </div>
                    <div class="cost-item-sell">đ102.000</div>
                    <div class="product-item__sell-discount">
                        <span class="product-item__sell-discount-percent">10%</span>
                        <span class="product-item__sell-discount-label">GIẢM</span>
                    </div>
                </a>
            </div>
        </div>

        <div class="brandstuff-list-brand c-6">
            <div class="brandstuff-brand-heading">
                <span class="brandstuff-title">THƯƠNG HIỆU NỔI BẬT</span>
                <a class="brandstuff-next">
                    Xem thêm
                    <i class="brandstuff-icon fas fa-chevron-right"></i>
                </a>
            </div>
            <div class="brandstuff-brand-item">
                <a class="list-brandstuff brandstuff-discount c-4">
                    <div class="logo-item-brandstuff">
                        <img src="./img/sell/th1.jpg" alt="" class="item-img-brandstuff">
                    </div>
                    <div class="cost-item-brandstuff">Da khỏe sạch</div>
                    <div class="product-item__brandstuff-discount">
                        <span class="product-item__brandstuff-discount-percent">25%</span>
                        <span class="product-item__brandstuff-discount-label">GIẢM</span>
                    </div>
                </a>
                <a class="list-brandstuff c-4">
                    <div class="logo-item-brandstuff">
                        <img src="./img/sell/th2.jpg" alt="" class="item-img-brandstuff">
                    </div>
                    <div class="cost-item-brandstuff">Deli Việt Nam</div>
                    <div class="product-item__brandstuff-discount">
                        <span class="product-item__brandstuff-discount-percent">25%</span>
                        <span class="product-item__brandstuff-discount-label">GIẢM</span>
                    </div>
                </a>
                <a class="list-brandstuff c-4">
                    <div class="logo-item-brandstuff">
                        <img src="./img/sell/th3.jpg" alt="" class="item-img-brandstuff">
                    </div>
                    <div class="cost-item-brandstuff">Gom sách az</div>
                    <div class="product-item__brandstuff-discount">
                        <span class="product-item__brandstuff-discount-percent">25%</span>
                        <span class="product-item__brandstuff-discount-label">GIẢM</span>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="logoend-brandstuff">
        <img src="./img/sell/logoend_hanghieu.jpg" alt="logohanghieu" class="logo-brandstuff-img2">
    </div>

</div>
