<div class="grid__row-cate">
    <div class="grid__row-cate-heading">
        <span class="grid__row-heading-name">
            Danh mục
        </span>
    </div>
    
    <div class="c-12 grid__row-cate-slider-wrap">
        <div class="c-12 grid__row-cate-slider">
            <div class="grid__row-cate-slides">
                <ul class="grid__row-cate-list">
                    <li class="grid__row-cate-item">
                        <a href="#1" class="grid__row-cate-item-column">
                            <div class="grid__row-cate-logo">
                                <img class="grid__row-cate-item-img" src="./img/cate/thoitrangnam.png">
                            </div>
                            <div class="grid__row-cate-item-name">Thời trang nam</div>
                        </a>
                        <a href="#2" class="grid__row-cate-item-column">
                            <div class="grid__row-cate-logo">
                                <img class="grid__row-cate-item-img" src="./img/cate/thoitrangnu.png">
                            </div>
                            <div class="grid__row-cate-item-name">Thời trang nữ</div>
                        </a>

                    </li>
                    <li class="grid__row-cate-item">
                        <a href="" class="grid__row-cate-item-column">
                            <div class="grid__row-cate-logo">
                                <img class="grid__row-cate-item-img" src="./img/cate/dienthoai.png">
                            </div>
                            <div class="grid__row-cate-item-name">Điên thoại & phụ kiện</div>
                        </a>
                        <a href="" class="grid__row-cate-item-column">
                            <div class="grid__row-cate-logo">
                                <img class="grid__row-cate-item-img" src="./img/cate/mevabe.png">
                            </div>
                            <div class="grid__row-cate-item-name">Mẹ & Bé</div>
                        </a>
                    </li>
                    <li class="grid__row-cate-item">
                        <a href="" class="grid__row-cate-item-column">
                            <div class="grid__row-cate-logo">
                                <img class="grid__row-cate-item-img" src="./img/cate/dientu.png">
                            </div>
                            <div class="grid__row-cate-item-name">Thiết bị điện tử</div>
                        </a>
                        <a href="" class="grid__row-cate-item-column">
                            <div class="grid__row-cate-logo">
                                <img class="grid__row-cate-item-img" src="./img/cate/nhacuavadoisong.png">
                            </div>
                            <div class="grid__row-cate-item-name">Nhà cửa & Đời sống</div>
                        </a>
                    </li>
                    <li class="grid__row-cate-item">
                        <a href="" class="grid__row-cate-item-column">
                            <div class="grid__row-cate-logo">
                                <img class="grid__row-cate-item-img" src="./img/cate/maytinh.png">
                            </div>
                            <div class="grid__row-cate-item-name">Máy tính & Laptop</div>
                        </a>
                        <a href="" class="grid__row-cate-item-column">
                            <div class="grid__row-cate-logo">
                                <img class="grid__row-cate-item-img" src="./img/cate/sacdep.png">
                            </div>
                            <div class="grid__row-cate-item-name">Sắc đẹp</div>
                        </a>
                    </li>
                    <li class="grid__row-cate-item">
                        <a href="" class="grid__row-cate-item-column">
                            <div class="grid__row-cate-logo">
                                <img class="grid__row-cate-item-img" src="./img/cate/mayanh.png">
                            </div>
                            <div class="grid__row-cate-item-name">Máy ảnh & Máy quay phim</div>
                        </a>
                        <a href="" class="grid__row-cate-item-column">
                            <div class="grid__row-cate-logo">
                                <img class="grid__row-cate-item-img" src="./img/cate/suckhoe.png">
                            </div>
                            <div class="grid__row-cate-item-name">Sức khỏe</div>
                        </a>
                    </li>
                    <li class="grid__row-cate-item">
                        <a href="" class="grid__row-cate-item-column">
                            <div class="grid__row-cate-logo">
                                <img class="grid__row-cate-item-img" src="./img/cate/dongho.png">
                            </div>
                            <div class="grid__row-cate-item-name">Đồng hồ</div>
                        </a>
                        <a href="" class="grid__row-cate-item-column">
                            <div class="grid__row-cate-logo">
                                <img class="grid__row-cate-item-img" src="./img/cate/giaynu.png">
                            </div>
                            <div class="grid__row-cate-item-name">Giày dép nữ</div>
                        </a>
                    </li>
                    <li class="grid__row-cate-item">
                        <a href="" class="grid__row-cate-item-column">
                            <div class="grid__row-cate-logo">
                                <img class="grid__row-cate-item-img" src="./img/cate/giay.png">
                            </div>
                            <div class="grid__row-cate-item-name">Giày dép nam</div>
                        </a>
                        <a href="" class="grid__row-cate-item-column">
                            <div class="grid__row-cate-logo">
                                <img class="grid__row-cate-item-img" src="./img/cate/vinu.png">
                            </div>
                            <div class="grid__row-cate-item-name">Túi ví nữ</div>
                        </a>
                    </li>
                    <li class="grid__row-cate-item">
                        <a href="" class="grid__row-cate-item-column">
                            <div class="grid__row-cate-logo">
                                <img class="grid__row-cate-item-img" src="./img/cate/thietbidien.png">
                            </div>
                            <div class="grid__row-cate-item-name">Thiết bị điện gia dụng</div>
                        </a>
                        <a href="" class="grid__row-cate-item-column">
                            <div class="grid__row-cate-logo">
                                <img class="grid__row-cate-item-img" src="./img/cate/phukien.png">
                            </div>
                            <div class="grid__row-cate-item-name">Phụ kiện & trang sức nữ</div>
                        </a>
                    </li>
                    <li class="grid__row-cate-item">
                        <a href="" class="grid__row-cate-item-column">
                            <div class="grid__row-cate-logo">
                                <img class="grid__row-cate-item-img" src="./img/cate/thethao.png">
                            </div>
                            <div class="grid__row-cate-item-name">Thể thao & Du lịch</div>
                        </a>
                        <a href="" class="grid__row-cate-item-column">
                            <div class="grid__row-cate-logo">
                                <img class="grid__row-cate-item-img" src="./img/cate/bachhoa.png">
                            </div>
                            <div class="grid__row-cate-item-name">Bách hóa online</div>
                        </a>
                    </li>
                    <li class="grid__row-cate-item">
                        <a href="" class="grid__row-cate-item-column">
                            <div class="grid__row-cate-logo">
                                <img class="grid__row-cate-item-img" src="./img/cate/xemay.png">
                            </div>
                            <div class="grid__row-cate-item-name">Ô tô, xe máy & xe đạp</div>
                        </a>
                        <a href="" class="grid__row-cate-item-column">
                            <div class="grid__row-cate-logo">
                                <img class="grid__row-cate-item-img" src="./img/cate/nhasach.png">
                            </div>
                            <div class="grid__row-cate-item-name">Nhà sách online</div>
                        </a>
                    </li>
                    <li class="grid__row-cate-item">
                        <a href="" class="grid__row-cate-item-column">
                            <div class="grid__row-cate-logo">
                                <img class="grid__row-cate-item-img" src="./img/cate/balo.png">
                            </div>
                            <div class="grid__row-cate-item-name">Balo & Túi ví nam</div>
                        </a>
                        <a href="" class="grid__row-cate-item-column">
                            <div class="grid__row-cate-logo">
                                <img class="grid__row-cate-item-img" src="./img/cate/thoitrangtreem.png">
                            </div>
                            <div class="grid__row-cate-item-name">Thời trang trẻ em</div>
                        </a>
                    </li>
                    <li class="grid__row-cate-item">
                        <a href="" class="grid__row-cate-item-column">
                            <div class="grid__row-cate-logo">
                                <img class="grid__row-cate-item-img" src="./img/cate/dochoi.png">
                            </div>
                            <div class="grid__row-cate-item-name">Đồ chơi</div>
                        </a>
                        <a href="" class="grid__row-cate-item-column">
                            <div class="grid__row-cate-logo">
                                <img class="grid__row-cate-item-img" src="./img/cate/giatgiu.png">
                            </div>
                            <div class="grid__row-cate-item-name">Giặt giũ & chăm sóc nhà cửa</div>
                        </a>
                    </li>
                    <li class="grid__row-cate-item">
                        <a href="" class="grid__row-cate-item-column">
                            <div class="grid__row-cate-logo">
                                <img class="grid__row-cate-item-img" src="./img/cate/thucung.png">
                            </div>
                            <div class="grid__row-cate-item-name">Chăm sóc thú cưng</div>
                        </a>
                        <a href="" class="grid__row-cate-item-column">
                            <div class="grid__row-cate-logo">
                                <img class="grid__row-cate-item-img" src="./img/cate/service.png">
                            </div>
                            <div class="grid__row-cate-item-name">Voucher & dịch vụ</div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="btn-category">
            <button class="btn-prev">
                <div class="btn-prev-icon">
                    <svg enable-background="new 0 0 13 20" viewBox="0 0 13 20" x="0" y="0">
                        <polygon fill="#757575" points="4.2 10 12.1 2.1 10 -.1 1 8.9 -.1 10 1 11 10 20 12.1 17.9"></polygon>
                    </svg>
                </div>
            </button>
            <button class="btn-next">
                <div class="btn-next-icon">
                    <svg enable-background="new 0 0 13 21" viewBox="0 0 13 21" x="0" y="0">
                        <polygon fill="#757575" points="11.1 9.9 2.1 .9 -.1 3.1 7.9 11 -.1 18.9 2.1 21 11.1 12 12.1 11"></polygon>
                    </svg>
                </div>
            </button>
        </div>
    </div>
</div>