<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopee Việt Nam! Mua và bán trên ứng dụng di động hoặc website</title>
    <link rel="icon" href="./img/logo_title.png" type = "image/x-icon" sizes="48x48">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./css/base.css">
    <link rel="stylesheet" href="./css/main_overlay.css">
    <link rel="stylesheet" href="./css/btn.css">
    <link rel="stylesheet" href="./css/slide.css">
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/detail.css">
    <link rel="stylesheet" href="./css/nav_mobile.css">
    <link rel="stylesheet" href="./css/grid.css">
    <link rel="stylesheet" href="./css/responsive.css">
</head>
<body>
    <div class="main">
        
        <%- include('../header/header.ejs'); %>
        
        <div class="app__container">
            <div class="grid wide product-detail">
                <div id="toast">
                    
                </div>
                    
            </div>
        </div>

        <footer class="footer">
            <%- include('../footer/footer.ejs'); %>
        </footer>

        <div class="footer-policy">
            <div class="footer-policy-list">
                <a class="footer-policy-item">
                    <span class="footer-policy-item-des">
                        CHÍNH SÁCH BẢO MẬT
                    </span>
                </a>
                <a class="footer-policy-item">
                    <span class="footer-policy-item-des">
                        QUY CHẾ HOẠT ĐỘNG
                    </span>
                </a>
                <a class="footer-policy-item">
                    <span class="footer-policy-item-des">
                        CHÍNH SÁCH VẬN CHUYỂN
                    </span>
                </a>
                <a class="footer-policy-item">
                    <span class="footer-policy-item-des">
                        CHÍNH SÁCH TRẢ HÀNG VÀ HOÀN TIỀN
                    </span>
                </span>
            </div>

            <div class="footer-policy-logo">
                <a href="" class="footer-policy-logo-link">
                    <div class="footer-policy-logo-img footer-policy-logo-img-bct"></div>
                </a>
                <a href="" class="footer-policy-logo-link">
                    <div class="footer-policy-logo-img footer-policy-logo-img-bct"></div>
                </a>
                <a href="" class="footer-policy-logo-link">
                    <div class="footer-policy-logo-img footer-policy-logo-img-vt"></div>
                </a>
            </div>
            <span class="footer-policy-item-name" style="margin-top: 3px;">Công ty TNHH Shopee</span>
            <span class="footer-policy-item-name" style="margin-top: 16px;">Địa chỉ: Tầng 4-5-6, Tòa nhà Capital Place, số 29 đường Liễu Giai, Phường Ngọc Khánh, Quận Ba Đình, Thành phố Hà Nội, Việt Nam. Tổng đài hỗ trợ: 19001221 - Email: cskh@hotro.shopee.vn</span>
            <span class="footer-policy-item-name">Chịu Trách Nhiệm Quản Lý Nội Dung: Nguyễn Đức Trí - Điện thoại liên hệ: 024 73081221 (ext 4678)</span>
            <span class="footer-policy-item-name">Mã số doanh nghiệp: 0106773786 do Sở Kế hoạch & Đầu tư TP Hà Nội cấp lần đầu ngày 10/02/2015</span>
            <span class="footer-policy-item-name">© 2015 - Bản quyền thuộc về Công ty TNHH Shopee</span>
        </div>


        <!-- ---------------Modal login/regis----------------- -->
        <div class="modal">

            <div class="modal__overlay"></div>

            <div class="modal__body">
                
                <!-- Authen form -->
                
                 
            </div>
        </div>

        <%- include('../main_overlay.ejs'); %>
    </div>

    <script src="./js/authen.js"></script>
    <script src="./js/searchHistory.js"></script>
    <script src="./js/cart.js"></script>
    <script src="./js/detailProduct.js"></script>
</body>
</html>