<div class="grid__row-flash">
    <div class="grid__row-flash-heading">
        <div class="grid__row-flash-logo-count">
            <div class="grid__row-flash-logo-heading" style="background-image: url(./img/flashSale.png);"></div>
            <div class="grid__row-flash-countdown">ok</div>
        </div>
        <div class="grid__row-flash-all-item">Xem tất cả ></div>
    </div>
    <div class="grid__row-flash-slider-wrap">
        <div class="grid__row-flash-slider">
            <div class="grid__row-flash-slides">
                <ul class="grid__row-flash-list">
                    <li class="grid__row-flash-item">
                        <a href="#1" class="grid__row-flash-item-column">
                            <div class="grid__row-flash-logo" style="background-image: url(./img/flash/clear.png);"></div>
                            <div class="grid__row-flash-promotion" style="background-image: url(./img/flash/hhieu_1010.png);"></div>
                            <div class="grid__row-flash-item-cost">đ242.000</div>
                            <div class="grid__row-flash-item-amount">
                                <div class="grid__row-flash-item-amount-percent dem-1 percent-fire">
                                    <img src="./img/flash/flashFire.png" alt="fire" class="percent-fire-img">
                                </div>
                                <span class="grid__row-flash-item-amount-name">
                                    Đã bán 330
                                </span>
                            </div>
                            <div class="grid__row-flash-item__sell-off">
                                <span class="grid__row-flash-item__sell-off-percent">21%</span>
                                <span class="grid__row-flash-item__sell-off-label">GIẢM</span>
                            </div>
                        </a>
                    </li>
                    <li class="grid__row-flash-item">
                        <a href="#2" class="grid__row-flash-item-column">
                            <div class="grid__row-flash-logo" style="background-image: url(./img/flash/duongam_dove.jpg);"></div>
                            <div class="grid__row-flash-promotion" style="background-image: url(./img/flash/hhieu_1010.png);"></div>
                            <div class="grid__row-flash-item-cost">đ159.000</div>
                            <div class="grid__row-flash-item-amount">
                                <div class="grid__row-flash-item-amount-percent dem-2">
                                    <img src="./img/flash/flashFire.png" alt="fire" class="percent-fire-img">
                                </div>
                                <span class="grid__row-flash-item-amount-name">
                                    Đã bán 100
                                </span>
                            </div>
                            <div class="grid__row-flash-item__sell-off">
                                <span class="grid__row-flash-item__sell-off-percent">40%</span>
                                <span class="grid__row-flash-item__sell-off-label">GIẢM</span>
                            </div>
                        </a>
                    </li>
                    <li class="grid__row-flash-item">
                        <a href="#3" class="grid__row-flash-item-column">
                            <div class="grid__row-flash-logo" style="background-image: url(./img/flash/samsung_s10.jpg);"></div>
                            <div class="grid__row-flash-promotion" style="background-image: url(./img/flash/hhieu_1010.png);"></div>
                            <div class="grid__row-flash-item-cost">đ13.490.000</div>
                            <div class="grid__row-flash-item-amount">
                                <div class="grid__row-flash-item-amount-percent dem-3 ">
                                    <img src="./img/flash/flashFire.png" alt="fire" class="percent-fire-img">
                                </div>
                                <span class="grid__row-flash-item-amount-name">
                                    Đã bán 50
                                </span>
                            </div>
                            <div class="grid__row-flash-item__sell-off">
                                <span class="grid__row-flash-item__sell-off-percent">24%</span>
                                <span class="grid__row-flash-item__sell-off-label">GIẢM</span>
                            </div>
                        </a>
                    </li>
                    <li class="grid__row-flash-item">
                        <a href="#1" class="grid__row-flash-item-column">
                            <div class="grid__row-flash-logo" style="background-image: url(./img/flash/samsung_tainghe.jpg);"></div>
                            <div class="grid__row-flash-promotion" style="background-image: url(./img/flash/hhieu_1010.png);"></div>
                            <div class="grid__row-flash-item-cost">đ2.790.000</div>
                            <div class="grid__row-flash-item-amount">
                                <div class="grid__row-flash-item-amount-percent dem-4 ">
                                    <img src="./img/flash/flashFire.png" alt="fire" class="percent-fire-img">
                                </div>
                                <span class="grid__row-flash-item-amount-name">
                                    Đã bán 0
                                </span>
                            </div>
                            <div class="grid__row-flash-item__sell-off">
                                <span class="grid__row-flash-item__sell-off-percent">38%</span>
                                <span class="grid__row-flash-item__sell-off-label">GIẢM</span>
                            </div>
                        </a>
                    </li>
                    <li class="grid__row-flash-item">
                        <a href="#1" class="grid__row-flash-item-column">
                            <div class="grid__row-flash-logo" style="background-image: url(./img/flash/noichien.jpg);"></div>
                            <div class="grid__row-flash-promotion" style="background-image: url(./img/flash/hhieu_xtra.png);"></div>
                            <div class="grid__row-flash-item-cost">đ2.290.000</div>
                            <div class="grid__row-flash-item-amount">
                                <div class="grid__row-flash-item-amount-percent dem-5 ">
                                    <img src="./img/flash/flashFire.png" alt="fire" class="percent-fire-img">
                                </div>
                                <span class="grid__row-flash-item-amount-name">
                                    Đã bán 12
                                </span>
                            </div>
                            <div class="grid__row-flash-item__sell-off">
                                <span class="grid__row-flash-item__sell-off-percent">9%</span>
                                <span class="grid__row-flash-item__sell-off-label">GIẢM</span>
                            </div>
                        </a>
                    </li>
                    <li class="grid__row-flash-item">
                        <a href="#1" class="grid__row-flash-item-column">
                            <div class="grid__row-flash-logo" style="background-image: url(./img/flash/sua_pedia.jpg);"></div>
                            <div class="grid__row-flash-promotion" style="background-image: url(./img/flash/hhieu_1010.png);"></div>
                            <div class="grid__row-flash-item-cost">đ875.000</div>
                            <div class="grid__row-flash-item-amount">
                                <div class="grid__row-flash-item-amount-percent dem-6 ">
                                    <img src="./img/flash/flashFire.png" alt="fire" class="percent-fire-img">
                                </div>
                                <span class="grid__row-flash-item-amount-name">
                                    Đã bán 1
                                </span>
                            </div>
                            <div class="grid__row-flash-item__sell-off">
                                <span class="grid__row-flash-item__sell-off-percent">21%</span>
                                <span class="grid__row-flash-item__sell-off-label">GIẢM</span>
                            </div>
                        </a>
                    </li>
                    <li class="grid__row-flash-item">
                        <a href="#1" class="grid__row-flash-item-column">
                            <div class="grid__row-flash-logo" style="background-image: url(./img/flash/suapedia_lo.jpg);"></div>
                            <div class="grid__row-flash-promotion" style="background-image: url(./img/flash/hhieu_1010.png);"></div>
                            <div class="grid__row-flash-item-cost">đ739.000</div>
                            <div class="grid__row-flash-item-amount">
                                <div class="grid__row-flash-item-amount-percent dem-7 percent-fire">
                                    <img src="./img/flash/flashFire.png" alt="fire" class="percent-fire-img">
                                </div>
                                <span class="grid__row-flash-item-amount-name">
                                    Đã bán 123
                                </span>
                            </div>
                            <div class="grid__row-flash-item__sell-off">
                                <span class="grid__row-flash-item__sell-off-percent">24%</span>
                                <span class="grid__row-flash-item__sell-off-label">GIẢM</span>
                            </div>
                        </a>
                    </li>
                    <li class="grid__row-flash-item">
                        <a href="#1" class="grid__row-flash-item-column">
                            <div class="grid__row-flash-logo" style="background-image: url(./img/flash/mega_jubo.jpg);"></div>
                            <div class="grid__row-flash-promotion" style="background-image: url(./img/flash/hhieu_1010.png);"></div>
                            <div class="grid__row-flash-item-cost">đ434.000</div>
                            <div class="grid__row-flash-item-amount">
                                <div class="grid__row-flash-item-amount-percent dem-8 ">
                                    <img src="./img/flash/flashFire.png" alt="fire" class="percent-fire-img">
                                </div>
                                <span class="grid__row-flash-item-amount-name">
                                    Đã bán 0
                                </span>
                            </div>
                            <div class="grid__row-flash-item__sell-off">
                                <span class="grid__row-flash-item__sell-off-percent">29%</span>
                                <span class="grid__row-flash-item__sell-off-label">GIẢM</span>
                            </div>
                        </a>
                    </li>
                    <li class="grid__row-flash-item">
                        <a href="#1" class="grid__row-flash-item-column">
                            <div class="grid__row-flash-logo" style="background-image: url(./img/flash/duongtoc.jpg);"></div>
                            <div class="grid__row-flash-promotion" style="background-image: url(./img/flash/xtra_1010.png);"></div>
                            <div class="grid__row-flash-item-cost">đ350.000</div>
                            <div class="grid__row-flash-item-amount">
                                <div class="grid__row-flash-item-amount-percent dem-9 ">
                                    <img src="./img/flash/flashFire.png" alt="fire" class="percent-fire-img">
                                </div>
                                <span class="grid__row-flash-item-amount-name">
                                    Đã bán 30
                                </span>
                            </div>
                            <div class="grid__row-flash-item__sell-off">
                                <span class="grid__row-flash-item__sell-off-percent">18%</span>
                                <span class="grid__row-flash-item__sell-off-label">GIẢM</span>
                            </div>
                        </a>
                    </li>
                    <li class="grid__row-flash-item">
                        <a href="#1" class="grid__row-flash-item-column">
                            <div class="grid__row-flash-logo" style="background-image: url(./img/flash/eucerin.jpg);"></div>
                            <div class="grid__row-flash-promotion" style="background-image: url(./img/flash/hhieu_1010.png);"></div>
                            <div class="grid__row-flash-item-cost">đ325.000</div>
                            <div class="grid__row-flash-item-amount">
                                <div class="grid__row-flash-item-amount-percent dem-10">
                                    <img src="./img/flash/flashFire.png" alt="fire" class="percent-fire-img">
                                </div>
                                <span class="grid__row-flash-item-amount-name">
                                    Đã bán 10
                                </span>
                            </div>
                            <div class="grid__row-flash-item__sell-off">
                                <span class="grid__row-flash-item__sell-off-percent">10%</span>
                                <span class="grid__row-flash-item__sell-off-label">GIẢM</span>
                            </div>
                        </a>
                    </li>
                    <li class="grid__row-flash-item">
                        <a href="#1" class="grid__row-flash-item-column">
                            <div class="grid__row-flash-logo" style="background-image: url(./img/flash/locklock.jpg);"></div>
                            <div class="grid__row-flash-promotion" style="background-image: url(./img/flash/xtra_hxu.png);"></div>
                            <div class="grid__row-flash-item-cost">đ450.000</div>
                            <div class="grid__row-flash-item-amount">
                                <div class="grid__row-flash-item-amount-percent dem-11">
                                    <img src="./img/flash/flashFire.png" alt="fire" class="percent-fire-img">
                                </div>
                                <span class="grid__row-flash-item-amount-name">
                                    Đã bán 39
                                </span>
                            </div>
                            <div class="grid__row-flash-item__sell-off">
                                <span class="grid__row-flash-item__sell-off-percent">12%</span>
                                <span class="grid__row-flash-item__sell-off-label">GIẢM</span>
                            </div>
                        </a>
                    </li>
                    <li class="grid__row-flash-item">
                        <a href="#1" class="grid__row-flash-item-column">
                            <div class="grid__row-flash-logo" style="background-image: url(./img/flash/tsubaki.png);"></div>
                            <div class="grid__row-flash-promotion" style="background-image: url(./img/flash/hhieu_1010.png);"></div>
                            <div class="grid__row-flash-item-cost">đ289.000</div>
                            <div class="grid__row-flash-item-amount">
                                <div class="grid__row-flash-item-amount-percent dem-12">
                                    <img src="./img/flash/flashFire.png" alt="fire" class="percent-fire-img">
                                </div>
                                <span class="grid__row-flash-item-amount-name">
                                    Đã bán 50
                                </span>
                            </div>
                            <div class="grid__row-flash-item__sell-off">
                                <span class="grid__row-flash-item__sell-off-percent">27%</span>
                                <span class="grid__row-flash-item__sell-off-label">GIẢM</span>
                            </div>
                        </a>
                    </li>
                    <li class="grid__row-flash-item">
                        <a href="#1" class="grid__row-flash-item-column">
                            <div class="grid__row-flash-logo" style="background-image: url(./img/flash/age20.png);"></div>
                            <div class="grid__row-flash-promotion" style="background-image: url(./img/flash/hhieu_xtra.png);"></div>
                            <div class="grid__row-flash-item-cost">đ280.000</div>
                            <div class="grid__row-flash-item-amount">
                                <div class="grid__row-flash-item-amount-percent dem-13">
                                    <img src="./img/flash/flashFire.png" alt="fire" class="percent-fire-img">
                                </div>
                                <span class="grid__row-flash-item-amount-name">
                                    Đã bán 0
                                </span>
                            </div>
                            <div class="grid__row-flash-item__sell-off">
                                <span class="grid__row-flash-item__sell-off-percent">53%</span>
                                <span class="grid__row-flash-item__sell-off-label">GIẢM</span>
                            </div>
                        </a>
                    </li>
                    <li class="grid__row-flash-item">
                        <a href="#1" class="grid__row-flash-item-column">
                            <div class="grid__row-flash-logo" style="background-image: url(./img/flash/daugoi_head.png);"></div>
                            <div class="grid__row-flash-promotion" style="background-image: url(./img/flash/hhieu_1010.png);"></div>
                            <div class="grid__row-flash-item-cost">đ279.000</div>
                            <div class="grid__row-flash-item-amount">
                                <div class="grid__row-flash-item-amount-percent dem-14">
                                    <img src="./img/flash/flashFire.png" alt="fire" class="percent-fire-img">
                                </div>
                                <span class="grid__row-flash-item-amount-name">
                                    Đã bán 0
                                </span>
                            </div>
                            <div class="grid__row-flash-item__sell-off">
                                <span class="grid__row-flash-item__sell-off-percent">40%</span>
                                <span class="grid__row-flash-item__sell-off-label">GIẢM</span>
                            </div>
                        </a>
                    </li>
                    <li class="grid__row-flash-item">
                        <a href="#1" class="grid__row-flash-item-column">
                            <div class="grid__row-flash-logo" style="background-image: url(./img/flash/vitaminc.png);"></div>
                            <div class="grid__row-flash-promotion" style="background-image: url(./img/flash/hhieu_1010.png);"></div>
                            <div class="grid__row-flash-item-cost">đ3.100.000</div>
                            <div class="grid__row-flash-item-amount">
                                <div class="grid__row-flash-item-amount-percent dem-15">
                                    <img src="./img/flash/flashFire.png" alt="fire" class="percent-fire-img">
                                </div>
                                <span class="grid__row-flash-item-amount-name">
                                    Đã bán 30
                                </span>
                            </div>
                            <div class="grid__row-flash-item__sell-off">
                                <span class="grid__row-flash-item__sell-off-percent">40%</span>
                                <span class="grid__row-flash-item__sell-off-label">GIẢM</span>
                            </div>
                        </a>
                    </li>
                    <li class="grid__row-flash-item">
                        <a href="#1" class="grid__row-flash-item-column">
                            <div class="grid__row-flash-logo" style="background-image: url(./img/flash/siro.jpg);"></div>
                            <div class="grid__row-flash-promotion" style="background-image: url(./img/flash/xtra_hxu.png);"></div>
                            <div class="grid__row-flash-item-cost">đ199.000</div>
                            <div class="grid__row-flash-item-amount">
                                <div class="grid__row-flash-item-amount-percent dem-16">
                                    <img src="./img/flash/flashFire.png" alt="fire" class="percent-fire-img">
                                </div>
                                <span class="grid__row-flash-item-amount-name">
                                    Đã bán 12
                                </span>
                            </div>
                            <div class="grid__row-flash-item__sell-off">
                                <span class="grid__row-flash-item__sell-off-percent">43%</span>
                                <span class="grid__row-flash-item__sell-off-label">GIẢM</span>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="btn-flash-sale">
            <button class="btn-prev-flash">
                <div class="btn-prev-icon">
                    <svg enable-background="new 0 0 13 20" viewBox="0 0 13 20" x="0" y="0">
                        <polygon fill="#757575" points="4.2 10 12.1 2.1 10 -.1 1 8.9 -.1 10 1 11 10 20 12.1 17.9"></polygon>
                    </svg>
                </div>
            </button>
            <button class="btn-next-flash">
                <div class="btn-next-icon">
                    <svg enable-background="new 0 0 13 21" viewBox="0 0 13 21" x="0" y="0">
                        <polygon fill="#757575" points="11.1 9.9 2.1 .9 -.1 3.1 7.9 11 -.1 18.9 2.1 21 11.1 12 12.1 11"></polygon>
                    </svg>
                </div>
            </button>
        </div>
    </div>
</div>