<div class="row no-gutters gird__row-slide" style="flex-wrap: nowrap; margin: 0;">
    <div class="l-8 m-12 c-12 slide-show">
        <div class="slider">
            <div class="slides">
                <div class="slide-item">
                    <img class="slide-item-img" src="./img/slider/6buocdep_taigia.png" alt="">
                </div>
                <div class="slide-item">
                    <img class="slide-item-img" src="./img/slider/chamda_tainha.png" alt="">
                </div>
                <div class="slide-item">
                    <img class="slide-item-img" src="./img/slider/daitiec_adidas.png" alt="">
                </div>
                <div class="slide-item">
                    <img class="slide-item-img" src="./img/slider/deal_bungno.png" alt="">
                </div>
                <div class="slide-item">
                    <img class="slide-item-img" src="./img/slider/shopuutien.png" alt="">
                </div>
                <div class="slide-item">
                    <img class="slide-item-img" src="./img/slider/quattang250.png" alt="">
                </div>
                <div class="slide-item">
                    <img class="slide-item-img" src="./img/slider/sieudeal_thoitrang.png" alt="">
                </div>
                <div class="slide-item">
                    <img class="slide-item-img" src="./img/slider/thoitrang_đungieu.png" alt="">
                </div>
                <div class="slide-item">
                    <img class="slide-item-img" src="./img/slider/thusangronrang.png" alt="">
                </div>
                <div class="slide-item">
                    <img class="slide-item-img" src="./img/slider/saledoanvien.png" alt="">
                </div>
                <div class="slide-item">
                    <img class="slide-item-img" src="./img/slider/sieusale_hanghieu.png" alt="">
                </div>
            </div>
    
            <ul class="slides-dots">
                <li class="slides-dot-item active" data-index="0">
                <li class="slides-dot-item" data-index="1">
                <li class="slides-dot-item" data-index="2">
                <li class="slides-dot-item" data-index="3">
                <li class="slides-dot-item" data-index="4">
                <li class="slides-dot-item" data-index="5">
                <li class="slides-dot-item" data-index="6">
                <li class="slides-dot-item" data-index="7">
                <li class="slides-dot-item" data-index="8">
                <li class="slides-dot-item" data-index="9">
                <li class="slides-dot-item" data-index="10">
            </ul>
        </div>
        
        <div class="navigation-active">
            <button class="click-prev">
                <div class="click-prev-icon">
                    <svg enable-background="new 0 0 13 20" viewBox="0 0 13 20" x="0" y="0">
                        <polygon fill="#757575" points="4.2 10 12.1 2.1 10 -.1 1 8.9 -.1 10 1 11 10 20 12.1 17.9"></polygon>
                    </svg>
                </div>
            </button>
            <button class="click-next">
                <div class="click-next-icon">
                    <svg enable-background="new 0 0 13 21" viewBox="0 0 13 21" x="0" y="0">
                        <polygon fill="#757575" points="11.1 9.9 2.1 .9 -.1 3.1 7.9 11 -.1 18.9 2.1 21 11.1 12 12.1 11"></polygon>
                    </svg>
                </div>
            </button>
        </div>
    </div>


    <div class="l-4 m-0 c-0 hide-on-tablet">
        <div class="image-beside-slide">
            <img class="image_show-body" src="./img/slider/nongsan_vn.png" alt="">
        </div>
        <div class="image-beside-slide">
            <img class="image_show-body" src="./img/slider/yentam_muasam.png" alt="">
        </div>
    </div>
</div>
